# name: release

# permissions: {}

# on:
#   push:
#     tags:
#       - 'v*'

# jobs:
#   release:
#     timeout-minutes: 30
#     permissions:
#       contents: write
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout
#         uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
#         with:
#           fetch-depth: 0
#           persist-credentials: "false"
#       - name: Setup go
#         uses: ./.github/actions/setup-go
#       - name: Lint
#         run: make lint
#       - name: Test
#         run: make test
#       - name: Set env
#         run: |
#           echo "REVISION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
#           echo "VERSION=$(git describe --tags --abbrev=0 --exact-match)" >> $GITHUB_ENV
#       - name: Run GoReleaser
#         uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
#         with:
#           version: '~> v2'
#           args: release --clean
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#           VERSION_PACKAGE: "github.com/berquerant/ndql/version"
